<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="include/fore/header::html('支付页面')">
</head>
<style>
    .user a {
        font-size: 18px;
        margin-left: 30px;
    }
    .user a:hover {
        color: orange;
        font-weight: 800;
    }
</style>
<body>
<div id="workingArea">
    <!-- 头部 -->
    <div th:replace="include/fore/cart/cartHeader::html"></div>
    <!-- 支付内容 -->
    <div th:replace="include/fore/order/paymentPage::html" ></div>

    <div th:replace="include/fore/footer::html"></div>
</div>
</body>