<div class="container" style="margin-top: 100px" th:fragment="html">
    <div v-for="oi,index in orderItems" class="reviewDiv" v-if="index<1">
        <div class="reviewProductInfoDiv">
            <div class="reviewProductInfoImg">
                <img v-if="null!=oi.product.firstProductImage" width="400px" height="400px" :src="'img/productSingle/'+oi.product.firstProductImage+'.jpg'">
            </div>
            <div style="display: none" id="pid" :pid="oi.product.id"></div>
            <div class="reviewProductInfoRightDiv">
                <div class="reviewProductInfoRightText">
                    {{oi.product.name}}
                </div>
                <table class="reviewProductInfoTable">
                    <tr>
                        <td width="75px">价格:</td>
                        <td><span class="reviewProductInfoTablePrice">￥{{oi.product.originalPrice|formatMoneyFilter}}</span> 元 </td>
                    </tr>
                    <tr>
                        <td>配送</td>
                        <td>快递:  0.00</td>
                    </tr>
                    <tr>
                        <td>月销量:</td>
                        <td><span class="reviewProductInfoTableSellNumber">{{oi.product.salesVolume}}</span> 件</td>
                    </tr>
                </table>

                <div class="reviewProductInfoRightBelowDiv">
                    <span class="reviewProductInfoRightBelowImg"><img1 src="img/site/reviewLight.png"></span>
                    <span v-if="null!=o" class="reviewProductInfoRightBelowText" >现在查看的是 您所购买商品的信息
    于 {{o.createDate | formatDateFilter('YYYY-MM-DD')}} 下单购买了此商品 </span>

                </div>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="reviewStasticsDiv">
            <div class="reviewStasticsLeft">
                <div class="reviewStasticsLeftTop"></div>
                <div class="reviewStasticsLeftContent">累计评价 <span class="reviewStasticsNumber"> {{oi.reviewCount}}</span></div>
                <div class="reviewStasticsLeftFoot"></div>
            </div>
            <div class="reviewStasticsRight">
                <div class="reviewStasticsRightEmpty"></div>
                <div class="reviewStasticsFoot"></div>
            </div>
        </div>

        <div v-show="showReviews" class="reviewDivlistReviews">
            <div v-for="r in oi.reviews" class="reviewDivlistReviewsEach">
                <div class="reviewDate">{{r.createDate| formatDateFilter}}</div>
                <div class="reviewContent">{{r.content}}</div>
                <div class="reviewUserInfo pull-right">******<span class="reviewUserInfoAnonymous">(匿名)</span></div>
            </div>
        </div>

        <div v-show="!showReviews" class="makeReviewDiv">
            <div class="makeReviewText">其他买家，需要你的建议哦！</div>
            <table class="makeReviewTable">
                <tr>
                    <td class="makeReviewTableFirstTD">评价商品</td>
                    <td><textarea v-model="content"></textarea></td>
                </tr>
            </table>
            <div class="makeReviewButtonDiv">
                <button @click="doreview" type="submit">提交评价</button>
            </div>
        </div>
    </div>
</div>