<!-- 分类导航栏切换内容 -->
<div th:fragment="html" class="cards">
    <p style="text-align: center;font-size: 30px; margin: 30px 0;">----茶叶种类----</p>
    <div class="tablist">
        <ul class="nav nav-tabs" role="tablist">
            <li v-for="c,index in categories" class="active" role="presentation" v-if="index<9">
                <!-- '#'+bean.id -->
                <a href="#greenTea" @click="findProductByCid(c.id)" aria-controls="specially recommend" role="tab"
                   data-toggle="tab">{{c.name}}</a>
            </li>
        </ul>
    </div>
    <!-- 茶叶分类 -->
    <div class="tab-content container-fluid">
        <div role="tabpanel" class="tab-pane active" id="greenTea">
            <div class="row">
                <div v-for="p,index in products" v-if="index<4" class="card col-md-3 col-sm-6 col-xs-12">
                    <a :href="'product_detail?pid=' + p.id ">
                        <img v-if="null != p.firstProductImage" :src="'img/productSingle/'+p.firstProductImage+'.jpg'" width="100%" height="100%">
                    </a>
                    <div class="info">
                        <p class="price">￥{{p.promote_price|formatMoneyFilter}}<span>包邮</span>&nbsp;&nbsp;&nbsp;<span>{{p.sales_volume}}人付款</span></p>
                        <p>{{p.name}}</p>
                        <p>发货地：长湴</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>