<div class="navbar-header" style="background:#C4DA8F;height: 100px;width: 100%;border-bottom: 2px solid goldenrod;" th:fragment="html"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <a href="home" class="navbar-brand">
        <span class="ddpc_logo">
            <img src="static/images/ddpc_logos.png" style="cursor:pointer" alt="欢迎关注天天品茶"
                 title="欢迎关注天天品茶" width="150px"  height="80px">
        </span>
        <span class="ddpc_title" style="margin: 0px 8px;font-weight: 800">天天品茶</span>
    </a>
    <div th:if="${null != session.user}" class="user">
        <a href="#" class="ddpc" style="color: red"><i class="glyphicon glyphicon-user"></i>
            当前用户：<span th:text="${session.user.name}"></span></a>&nbsp;|
        <a href="home"><span>返回首页</span></a>
    </div>
    <div th:if="${null == session.user}" class="user">
        <a href="register"><span>免费注册</span></a>
        <a href="login"><span>登陆</span></a>
        <a href="home"><span>返回首页</span></a>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>